@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/IRANSansWeb\(FaNum\).eot");
  src: url("../fonts/eot/IRANSansWeb\(FaNum\).eot") format("embedded-opentype"),
    url("../fonts/woff2/IRANSansWeb\(FaNum\).woff2") format("woff2"),
    url("../fonts/woff/IRANSansWeb\(FaNum\).woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb\(FaNum\).ttf") format("truetype");
  font-weight: normal;
}
/* 
@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Bold.eot");
  src: url("../fonts/eot/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/woff2/Vazir-Bold.woff2") format("woff2"),
    url("../fonts/woff/Vazir-Bold.woff") format("woff"),
    url("../fonts/ttf/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Light.eot");
  src: url("../fonts/eot/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/woff2/Vazir-Light.woff2") format("woff2"),
    url("../fonts/woff/Vazir-Light.woff") format("woff"),
    url("../fonts/ttf/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Medium.eot");
  src: url("../fonts/eot/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/woff2/Vazir-Medium.woff2") format("woff2"),
    url("../fonts/woff/Vazir-Medium.woff") format("woff"),
    url("../fonts/ttf/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/eot/Vazir-Thin.eot");
  src: url("../fonts/eot/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/woff2/Vazir-Thin.woff2") format("woff2"),
    url("../fonts/woff/Vazir-Thin.woff") format("woff"),
    url("../fonts/ttf/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
} */

* {
  font-family: "Vazir", Vazir, Tahoma, Arial, sans-serif !important;
  direction: rtl;
}

#hero .hero-container {
  min-width: 350px !important;
}

.m-1 {
  margin-left: 0.5rem;
}

.right {
  right: 15px !important;
  top: 15px !important;
}

.mobile-nav-togglee {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #ffc100;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}
.skills .progress .skill {
  direction: ltr;
}
.pCall {
  text-align: right;
  direction: ltr;
}
