<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>MMDALAM</span></strong>
    </div>
  </div>
</footer>
<!-- End  Footer -->
